/**
 * 예 8-3. 버튼과 물결 엘리먼트를 위한 스타일
 * 출처 - "실무로 통하는 웹 API" by 조 아타디
 */

.ripple-button {
    position: relative;
    overflow: hidden;
}

.ripple {
    background: white;
    pointer-events: none;
    transform-origin: center;
    opacity: 0;
    position: absolute;
    border-radius: 50%;
    width: 150px;
    height: 150px;
}
