/**
 * 예 8-1. CSS 키프레임 애니메이션 사용
 * 출처 - "실무로 통하는 웹 API" by 조 아타디
 */

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.some-element {
    animation: fade 250ms;
}
