/**
 * 예 8-11. 스크롤 프로그레스 바 스타일
 * 출처 - "실무로 통하는 웹 API" by 조 아타디
 */

.scroll-progress {
    height: 8px;
    transform-origin: left;
    position: sticky;
    top: 0;
    transform: scaleX(0);
    background: blue;
}
